extend layout

block footer
    footer.foot
      .foot1
        h2 More info
        nav.nav
          a(href='http://www.ipca.pt')
            i.fa.fa-home
            | About Us
          a(href='http://www.ipca.pt')
            i.fa.fa-info
            | Aditional Info
          a(href='http://www.ipca.pt')
            i.fa.fa-cog
            | Privacy Policy
          a(href='http://www.ipca.pt')
            i.fa.fa-pencil
            | Terms &amp; Conditions
          a(href='http://www.ipca.pt')
            i.fa.fa-square
            | Faqs
      .foot2
        .footer_social
          a(href='http://www.ipca.pt')
            i.fa.fa-facebook  
          a(href='http://www.ipca.pt')
            i.fa.fa-twitter
          a(href='http://www.ipca.pt')
            i.fa.fa-linkedin
          a(href='http://www.ipca.pt')
            i.fa.fa-github
        .footer_text
          p &copy; Angelo Ferreira (a11201) &amp; Miguel Pimenta (a12555)
          p All rights reserved